#!/usr/bin/env python2
# coding: utf-8
# Created by PyCharm
# Project: MengMo
# Filename: Settings.py
# Time: 2017/1/26


__author__ = 'lightless'
__email__ = 'root@lightless.me'

__all__ = ["settings"]


class Settings(object):

    MYSQL_DSN = "mysql+mysqldb://root:123456@127.0.0.1/MengMo"

    def __init__(self):
        super(Settings, self).__init__()


settings = Settings()
